[defaults]
remote_user = root
roles_path=./.imported-roles
collections_path = ./collections
# We've to move ansible tmp out of our NFS user home. root can't write to user homes due NFS root squash.
remote_tmp = /tmp/${USER}/ansible
retry_files_enabled = false